$md-yuxiblue: (
    50 : #e0fffd,
    100 : #b3fffb,
    200 : #80fff9,
    300 : #4dfff6,
    400 : #26fff4,
    500 : #00fff2,
    600 : #00fff0,
    700 : #00ffee,
    800 : #00ffec,
    900 : #00ffe8,
    A100 : #ffffff,
    A200 : #f2fffe,
    A400 : #bffff9,
    A700 : #a6fff6,
    contrast: (
        50 : #2E1A45,
        100 : #2E1A45,
        200 : #2E1A45,
        300 : #2E1A45,
        400 : #2E1A45,
        500 : #2E1A45,
        600 : #2E1A45,
        700 : #2E1A45,
        800 : #2E1A45,
        900 : #2E1A45,
        A100 : #2E1A45,
        A200 : #2E1A45,
        A400 : #2E1A45,
        A700 : #2E1A45,
    )
);


$md-yuxiviolet: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #12081f,
        100 : #12081f,
        200 : #12081f,
        300 : #12081f,
        400 : #12081f,
        500 : #12081f,
        600 : #12081f,
        700 : #12081f,
        800 : #12081f,
        900 : #12081f,
        A100 : #12081f,
        A200 : #12081f,
        A400 : #12081f,
        A700 : #12081f,
    )
);

$md-yuxipink: (
    50 : #ffedff,
    100 : #ffd1fe,
    200 : #ffb3fe,
    300 : #ff94fd,
    400 : #ff7dfc,
    500 : #ff66fc,
    600 : #ff5efc,
    700 : #ff53fb,
    800 : #ff49fb,
    900 : #ff38fa,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe1fe,
    A700 : #ffc8fd,
    contrast: (
        50 : #12081f,
        100 : #12081f,
        200 : #12081f,
        300 : #12081f,
        400 : #12081f,
        500 : #12081f,
        600 : #12081f,
        700 : #12081f,
        800 : #12081f,
        900 : #12081f,
        A100 : #12081f,
        A200 : #12081f,
        A400 : #12081f,
        A700 : #12081f,
    )
);
